    section.hero.copied {
        padding: 90px 0px 250px;
    }
    
    @media only screen and (min-width: 1601px) {
        /* .hero {
            height: auto;
            background-size: 100% !important;
        } */
        /* .hero-text {
            bottom: -80px;
        } */
        section.hero.copied .hero-text .copied-box {
            margin: 70px auto 0;
            padding: 25px 25px;
        }
        .security-statistic {
            padding: 20px 60px 32px;
            margin-top: 25px;
        }
        .security-statistic p {
            font-size: 16px;
        }
        .one-pass-cta {
            margin-top: 25px;
        }
        .copied-box .email-sec {
            margin-top: 25px;
        }
    }
    
    /* .hero {
        background-attachment: fixed;
        background-size: 100% 100% !important;
        margin-bottom: 100px;
        width: 100% !important;
        max-width: 100% !important;
    } */
    
    @media only screen and (max-width: 1600px) {
        .hero {
            /* height: calc(100vh + 20px); */
            /* background-size: auto 100% !important; */
            /* display: flex;
            align-items: center;
            padding: 0px; */
        }
        section.hero.copied {
            padding: 0px;
        }
    }
    @media only screen and (max-width: 767px) {
        /* .hero {
            background-size: auto 100% !important;
        } */
    }
    @media screen and (max-device-width: 767px) and (orientation: landscape) {
        .hero {
            /* height: 100%;
            padding: 80px 0px 0px; */
            /* bottom: -80px; */
        }
    }
    
    .hero-text {
        max-width: 864px;
        position: relative;
        /* background-color: #fff; */
        margin: 0px -15px;
        padding: 0px 15px 0px;
    }
    
    @media (min-width: 768px) {
        .hero-text {
            margin: 0 auto;
            /* bottom: -80px; */
            padding: 0px;
            background-color: transparent;
        }
    }
    
    .hero-text h1 {
        font-family: 'product_sansregular';
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 5px;
    }

    
    @media (min-width: 640px) {
        .hero-text h1 {
            font-size: 30px;
            line-height: 36px;
        }
    }
    
    @media (min-width: 768px) {
        .hero-text h1 {
            font-size: 48px;
            line-height: 58px;
        }
    }
    
    .hero-text p {
        font-family: 'product_sansregular';
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        /* color: #000C33; */
        margin: 0px;
    }
    
    @media (min-width: 768px) {
        .hero-text p {
            font-size: 18px;
        }
    }
    
    .hero-text .hero-box {
        background: #FFFFFF;
        border-radius: 5px;
        padding: 15px 15px 15px 15px;
        margin-top: 10px;
        box-shadow: #00000045 4px 4px 8px;
        margin-bottom: 0px;
    }
    
    @media (min-width: 768px) {
        .hero-text .hero-box {
            padding: 35px 50px 35px 50px;
        }
    }
    
    .hero-text .hero-box ul.nav {
        display: flex;
        justify-content: space-between;
        border: none;
        position: relative;
    }
    
    .hero-text .hero-box ul.nav::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 3px;
        background: #000C33;
        opacity: 0.1;
        border-radius: 5px;
    }
    
    .hero-text .hero-box ul.nav li.nav-item {
        width: 33.33%;
        text-align: center;
    }
    
    .hero-text .hero-box ul.nav li.nav-item a.nav-link {
        font-family: 'product_sansregular';
        font-size: 14px;
        line-height: 16px;
        color: #000C33;
        opacity: 0.5;
        border: none;
        padding: 0px 0px 5px;
        position: relative;
    }
    
    @media (min-width: 640px) {
        .hero-text .hero-box ul.nav li.nav-item a.nav-link {
            font-size: 18px;
            line-height: 22px;
        }
    }
    
    .hero-text .hero-box ul.nav li.nav-item a.nav-link.active {
        opacity: 1;
        font-weight: bold;
    }
    
    .hero-text .hero-box ul.nav li.nav-item a.nav-link.active::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 3px;
        background: linear-gradient(254.09deg, #B04AFF 5.04%, #24A7FF 99.4%);
        border-radius: 5px;
    }
    
    .hero-text .hero-box .tab-content .tab-pane {
        padding: 15px 0px 0px;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box {
        /* background-color: #f9fbfd; */
        overflow: hidden;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box {
        border: 1px solid #e6e7eb;
        box-sizing: border-box;
        /* box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25); */
        border-radius: 5px;
        display: flex;
        position: relative;
        max-width: 100%;
        padding: 9px 16px;
    }
    
    @media (min-width: 768px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box {
            padding: 24px 16px;
        }
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box #generated-password-form {
        flex-grow: 1;
        position: relative;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box #generated-password-form input {
        box-shadow: none;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box #generated-password-form .form-group {
        height: 40px;
        margin: 0px;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box #generated-password-form input.password-input {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        max-width: 100%;
        height: 40px;
        padding-right: 10px;
        padding-left: 10px;
        border: 0;
        color: #0a2240;
        font-size: 20px;
        text-align: left;
        transform: translateY(-50%);
    }
    
    @media (min-width: 768px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box #generated-password-form .form-group {
            height: 60px;
            margin: 0px;
        }
        .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box #generated-password-form input.password-input {
            height: 60px;
            font-size: 28px;
        }
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box .blinking {
        border-left: 1px solid #000;
        animation-name: blinking;
        animation-duration: 1s;
        animation-iteration-count: 100;
    }
    
    @keyframes blinking {
        50% {
            border-color: #ffcd5f;
        }
    }
    
    .word-typing {
        white-space: nowrap;
        overflow: hidden;
        animation: typing 0.8s steps(200, end), /* # of steps = # of chars */
        blink-caret .5s step-end infinite alternate;
    }
    
    @media (min-width: 768px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box #generated-password-form input.password-input {
            padding-right: 240px;
            padding-left: 10px;
        }
    }
    
    .hero .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box #generated-password-form input.password-input:focus {
        outline: 0;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box .generated-wrapper {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: auto;
        height: 40px;
        padding: 4px 0;
        z-index: 999;
        display: flex;
        align-items: center;
    }
    
    @media (min-width: 768px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box .generated-wrapper {
            width: 240px;
            position: absolute;
            top: 50%;
            right: 10px;
            padding: 0;
            transform: translateY(-50%);
            height: 60px;
        }
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box .generated-wrapper .week-pass {
        display: flex;
        align-items: center;
        text-align: center;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box .generated-wrapper .week-pass p {
        font-family: 'product_sansregular';
        font-size: 16px;
        line-height: 19px;
        margin: 0px;
        color: #FF0000;
        background: rgba(255, 0, 0, 0.1);
        border-radius: 5px;
        width: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 22px;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box .generated-wrapper .up-arrow {
        margin: 0px 10px;
        font-size: 18px;
        cursor: pointer;
    }
    
    .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box .generated-wrapper .week-pass p a {
        text-decoration: none;
    }
    
    @media (min-width: 768px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box .generated-wrapper .week-pass p {
            width: 70px;
        }
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box .generated-wrapper button.password-icon {
        display: inline-block;
        width: 36px;
        height: 36px;
        border: 0;
        position: relative;
        background-color: #fff;
        background-position: 50%;
        background-repeat: no-repeat;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        background-image: url(../images/icon-copy.png);
        background-size: 24px;
        outline: none;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box .generated-wrapper button.password-icon.ga-copy-pass {
        width: 120px;
        height: 60px;
        background: transparent;
        padding: 0px;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box .generated-wrapper button.password-icon.ga-copy-pass .tooltip-content {
        position: initial;
        width: 100%;
        background: linear-gradient(254.09deg, #B04AFF 5.04%, #24A7FF 99.4%);
        box-shadow: none;
        border: 0px;
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'product_sansregular';
        font-weight: bold;
        letter-spacing: 1.5px;
        padding: 12px 16px;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box .generated-wrapper button.password-icon.ga-copy-pass .tooltip-content img {
        margin-right: 5px;
    }
    
    @media (min-width: 768px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box .generated-wrapper button.password-icon {
            width: 50px;
        }
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box .generated-wrapper button.password-icon.password-icon-generate {
        background-color: transparent;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box .generated-wrapper button.password-icon.password-icon-generate.rotate {
        -webkit-transition: all .5s ease-out;
        transition: all .5s ease-out;
        -webkit-transform: rotate( -1turn);
        transform: rotate( -1turn);
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box .generated-wrapper button.password-icon .tooltip-content {
        display: none;
        position: absolute;
        top: -8px;
        left: 125%;
        z-index: 10;
        width: 200px;
        height: auto;
        padding: 10px;
        border: 1px solid #d6dbdb;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.25);
        margin: 0;
        color: #333f48;
        font-size: .77778rem;
        font-weight: 400;
        line-height: 1.4;
        text-align: left;
        font-family: gibson-regular, Arial, sans-serif;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box .strength-wrapper {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #e6e7eb;
        overflow: hidden;
        border-radius: 5px;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box .strength-wrapper .generated-password-strength {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 0;
        height: 5px;
        background: #FF0000;
        border-radius: 5px;
        transition: width .63s;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-wrapper-mob {
        margin: 10px 0px 0px;
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    
    @media (min-width: 768px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .generated-wrapper-mob {
            display: none;
        }
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-wrapper-mob button {
        font-size: 18px;
        line-height: 21px;
        display: flex;
        text-align: center;
        color: #000C33;
        padding: 18px 26px;
        font-family: 'product_sansregular';
        justify-content: center;
        width: 50%;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-wrapper-mob button i {
        margin-right: 8px;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-wrapper-mob button i.fa-redo-alt {
        transform: rotateY(-180deg);
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-wrapper-mob button.password-icon-generate {
        border: 1px solid #000C33;
        border-radius: 5px;
        background: transparent;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-wrapper-mob button.password-icon-generate:hover {
        background: #000C33;
        color: #fff;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-wrapper-mob button.copy-password {
        background: linear-gradient( 254.09deg, #B04AFF 5.04%, #24A7FF 99.4%);
        border-radius: 5px;
        color: #FFFFFF;
        border: 0px;
        margin-left: 6px;
    }
    
    @media (min-width: 768px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .generated-wrapper-mob button.copy-password {
            margin-left: 8px;
        }
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .generated-wrapper-mob button.copy-password:hover {
        background: transparent;
        color: #000C33;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings {
        margin-top: 10px;
        background: rgba(36, 167, 255, 0.1);
        border: 1px solid rgba(0, 12, 51, 0.1);
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px 20px;
    }
    /* @media (min-width: 375px) {
    .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings {
        padding: 15px 20px;
        margin-top: 15px;
    }
} */
    
    @media (min-width: 768px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings {
            padding: 18px;
            margin-top: 0px;
        }
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .range-wrapper {
        width: 100%;
        align-items: center;
    }
    
    @media (min-width: 768px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .range-wrapper {
            display: flex;
            margin-top: 15px;
        }
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .range-wrapper label.range-label {
        font-family: 'product_sansregular';
        font-size: 14px;
        line-height: 18px;
        color: #000C33;
        margin: 0px;
        white-space: nowrap;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .range-wrapper .custom-range-inner {
        display: flex !important;
        width: 100% !important;
        align-items: center !important;
    }
    
    @media (max-width: 767px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .range-wrapper .custom-range-inner {
            margin-top: -22px !important;
            align-items: flex-end !important;
            flex-direction: column-reverse !important;
        }
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .range-wrapper .custom-range-inner .custom-range {
        /* padding: 0px !important; */
        height: auto !important;
    }
    
    @media (min-width: 768px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .range-wrapper .custom-range-inner .custom-range {
            padding: 0px 15px 0px 10px;
        }
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .range-wrapper .custom-range-inner input.range-number {
        border: none;
        box-sizing: border-box;
        border-radius: 5px;
        display: block;
        color: #282828;
        font-size: 16px;
        outline: none;
        vertical-align: top;
        font-weight: bold;
        box-shadow: none;
        padding: 0px;
        text-align: center;
        width: 30px;
        background: transparent;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .range-wrapper .custom-range-inner input[type=number]::-webkit-inner-spin-button,
    .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .range-wrapper .custom-range-inner input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        appearance: none !important;
        margin: 0 !important; 
    }
    /* .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .checkbox-row {
    margin-top: 15px;
} */
    /* @media (min-width: 768px) {
    .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .checkbox-row {
        margin-top: 36px;
    }
} */
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .checkbox-row .checkbox-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    
    @media (min-width: 768px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .checkbox-row .checkbox-wrap {
            justify-content: space-between;
        }
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .checkbox-row .checkbox-wrap .checkbox {
        width: 50%;
        margin-bottom: 5px;
    }
    
    @media (min-width: 480px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .checkbox-row .checkbox-wrap .checkbox {
            margin-bottom: 10px;
        }
    }
    
    @media (min-width: 768px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .checkbox-row .checkbox-wrap .checkbox {
            width: auto;
            margin-bottom: 0px;
        }
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .checkbox-row .checkbox-wrap .checkbox .checkbox-input {
        height: 50px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
        display: none;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .checkbox-row .checkbox-wrap .checkbox .checkbox-input:checked+label:after,
    .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .checkbox-row .checkbox-wrap .checkbox .checkbox-input:not(:checked)+label:after {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        left: 2px;
        opacity: 1;
        width: 10px;
        height: 6px;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(-50deg);
        transition: all .1s;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .checkbox-row .checkbox-wrap .checkbox .checkbox-input:checked+label:before,
    .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .checkbox-row .checkbox-wrap .checkbox .checkbox-input:not(:checked)+label:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        border: 1px solid #b0b7bf;
        border-radius: 4px;
        background: #fff;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .checkbox-row .checkbox-wrap .checkbox .checkbox-input:checked+label:before {
        border: 1px solid #24A7FF;
        background-color: #24A7FF;
        box-shadow: inset 0 1px 2px 0 transparent;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .pg-settings .checkbox-row .checkbox-wrap .checkbox .checkbox-label {
        margin: 0px;
        font-family: 'product_sansregular';
        font-size: 14px;
        color: #000C33;
        position: relative;
        display: inline-block;
        padding-left: 20px;
        line-height: 20px;
        cursor: pointer;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp {
        margin-top: 0px;
    }
    
    @media (min-width: 768px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp {
            margin-top: 15px;
        }
    }
    /* .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform {
    margin: 0px;
}

@media (min-width: 768px) {
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform {
        margin: 0px;
    }
} */
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform p {
        font-family: 'product_sansregular';
        font-size: 18px;
        line-height: 22px;
        color: #000C33 !important;
        margin: 0px;
        text-align: left;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul {
        margin: 10px 0px 0px;
        padding: 0px;
        list-style: none;
        display: flex;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li {
        margin-right: 6px;
        position: relative;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li:last-child {
        margin: 0px;
    }
    /* @media (min-width: 768px) {
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li {
        margin-right: 6px;
    }
} */
    
    @media (min-width: 820px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li {
            margin-right: 9px;
        }
    }
    
    @media (min-width: 992px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li {
            margin-right: 12px;
        }
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li .tooltip-box {
        position: absolute;
        bottom: 100%;
        background: #000C33;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        top: auto;
        border-radius: 4px;
        width: 140px;
        padding: 10px;
        left: 0px;
        margin-bottom: 8px;
        display: none;
        z-index: 999;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li:hover .tooltip-box {
        display: block !important;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li .tooltip-box::after {
        content: " ";
        position: absolute;
        top: 100%;
        left: 15%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #000C33 transparent transparent transparent;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li .tooltip-box ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li .tooltip-box ul li {
        font-family: 'product_sansregular';
        font-size: 10px;
        line-height: 14px;
        margin: 0px;
        color: rgba(255, 255, 255, 0.75);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li .tooltip-box ul li i {
        color: #FF0000;
        font-weight: 900;
        font-size: 10px;
        line-height: 14px;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li .tooltip-box ul li i.fa-check-circle {
        color: #5ED98A;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li .exclamation-info {
        position: absolute;
        top: -2px;
        right: -4px;
        z-index: 99;
        background: #FFFFFF;
        border-radius: 3px;
        width: 12px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li .exclamation-info i {
        font-size: 12px;
        line-height: 14px;
        color: #FF0000;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li a {
        font-size: 24px;
        line-height: 28px;
        text-decoration: none;
        color: #bfc2cc;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li a.fb.active {
        color: #3A5999;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li a.tw.active {
        color: #33a1f2;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li a.in {
        width: 24px;
        height: 24px;
        font-size: 18px;
        line-height: 24px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li a.in.active {
        border-radius: 7px;
        color: #fff;
        background: #d6249f;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        /* box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25); */
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li a.link.active {
        color: #0077b5;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li a.pin.active {
        color: #bd3524;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li a.tum.active {
        color: #01579B;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li a.twi.active {
        color: #643DA7;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li a.goog.active {
        color: #bd3524;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li a.tiktok {
        width: 26px;
        background: url(../images/tiktok.png) no-repeat;
        background-size: 100%;
        display: block;
        height: 26px;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li a.tiktok.active {
        background: url(../images/tiktok-active.png) no-repeat;
        background-size: 100%;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li a.tiktok img {
        width: 26px;
        visibility: hidden;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .copy-btns {
        display: flex;
    }
    
    @media (min-width: 768px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .copy-btns {
            justify-content: flex-end;
        }
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .copy-btns button {
        font-size: 18px;
        line-height: 21px;
        display: flex;
        text-align: center;
        color: #000C33;
        padding: 19px 0px;
        font-family: 'product_sansregular';
        justify-content: center;
    }
    
    @media (max-width: 362px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .copy-btns button {
            font-size: 16px;
            line-height: 20px;
        }
    }
    
    .hero .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .copy-btns button span {
        margin-left: 8px;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .copy-btns button.send-button {
        border: 1px solid #000C33;
        border-radius: 5px;
        width: 100%;
        background: transparent;
    }
    
    @media (min-width: 768px) {
        .hero .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .copy-btns button.send-button {
            width: 120px;
        }
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .copy-btns button.send-button:hover {
        background: #000C33;
        color: #fff;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .copy-btns button.copy-password-button {
        background: #000C33;
        border-radius: 5px;
        color: #FFFFFF;
        border: 1px solid #000C33;
        width: 231px;
        margin-left: 6px;
    }
    
    @media (min-width: 768px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .copy-btns button.copy-password-button {
            margin-left: 8px;
        }
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .copy-btns button.copy-password-button:hover {
        background: transparent;
        color: #000C33;
    }
    
    .modal-sec #passwords {
        background-color: transparent;
        border: none;
        box-shadow: none;
        top: 0px;
    }
    
    .modal-sec #passwords .modal-dialog {
        width: 280px;
        margin: 0 auto;
    }
    
    @media (min-width: 480px) {
        .modal-sec #passwords .modal-dialog {
            width: 360px;
        }
    }
    
    .modal-sec #passwords .modal-content {
        width: 100%;
        padding: 0px;
        border: none;
        position: relative;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;
    }
    
    .modal-sec #passwords .modal-content .modal-header {
        justify-content: center;
        padding: 0px;
        border: none;
        margin-bottom: 35px;
    }
    
    .modal-sec #passwords .modal-content .modal-header h3 {
        font-family: 'product_sansregular';
        font-style: normal;
        margin: 0px;
        font-weight: 900;
        font-size: 28px;
        line-height: 32px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #5ED98A;
        letter-spacing: 1px;
    }
    
    @media (min-width: 480px) {
        .modal-sec #passwords .modal-content .modal-header h3 {
            font-size: 36px;
            line-height: 41px;
        }
    }
    
    .modal-sec #passwords .modal-content .modal-header h3 span {
        margin-right: 20px;
    }
    
    .modal-sec #passwords .modal-content .modal-body {
        border-radius: 5px;
        background: #0572EC url(../images/passwordbanner.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: bottom left;
        position: relative;
        padding: 26px 20px 26px;
        max-width: 326px;
    }
    
    .modal-sec #passwords .modal-content .modal-body .inner a {
        text-decoration: none;
    }
    
    .modal-sec #passwords .modal-content .modal-body .inner .text h3 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 29px;
        color: #FFFFFF;
        margin: 0px 0px 10px;
    }
    
    .modal-sec #passwords .modal-content .modal-body .inner .text p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        color: #FFFFFF;
        margin: 0px;
    }
    
    .modal-sec #passwords .modal-content .modal-body .inner .text .pass-img {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }
    
    .modal-sec #passwords .modal-content .modal-body .inner .text .pass-img img {
        width: auto;
    }
    
    .modal-sec #passwords .modal-content .modal-body .inner .text ul {
        margin: 18px 0px 0px;
        padding: 0px;
        list-style: none;
    }
    
    .modal-sec #passwords .modal-content .modal-body .inner .text ul li {
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        color: #FFFFFF;
        margin-bottom: 14px;
    }
    
    .modal-sec #passwords .modal-content .modal-body .inner .text ul li i {
        margin-right: 4px;
    }
    
    .modal-sec #passwords .modal-content .modal-body .inner .text ul li:last-child {
        margin-bottom: 0px;
    }
    
    .modal-sec #passwords .modal-content .modal-body .inner .text .pass-btn {
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }
    
    .modal-sec #passwords .modal-content .modal-body .inner .text .pass-btn p {
        background: #FFFFFF;
        border: 1px solid rgba(129, 184, 245, 0.5);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        width: 210px;
        height: 45px;
        font-family: 'Work Sans', sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #0572EC;
        text-decoration: none;
        justify-content: center;
    }
    
    .modal-sec #passwords .modal-content .modal-body.icon:before {
        content: "";
        background: url(../images/enterprise-pattern.png);
        position: absolute;
        top: 0px;
        left: auto;
        z-index: 1;
        right: 0px;
        height: 101px;
        width: 81px;
    }
    
    .modal-sec #send {
        background-color: transparent;
        border: none;
        box-shadow: none;
        top: 0px;
    }
    
    .modal-sec #send .modal-dialog {
        max-width: calc(100% - 40px);
        margin: 0 auto;
    }
    
    @media (min-width: 768px) {
        .modal-sec #send .modal-dialog {
            width: 864px;
            max-width: 100%;
        }
    }
    
    .modal-sec #send .modal-content {
        background-color: transparent;
    }
    
    .modal-sec #send .modal-content .modal-header {
        padding: 0px;
        border: none;
        margin-bottom: 6px;
    }
    
    .modal-sec #send .modal-content .modal-header button.close {
        opacity: 1;
        box-shadow: none;
        color: #fff;
    }
    
    .modal-sec #send .modal-content .modal-body {
        width: 100%;
        padding: 15px 20px 15px;
        border: none;
        position: relative;
        background: #FFFFFF;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;
    }
    
    @media (min-width: 768px) {
        .modal-sec #send .modal-content .modal-body {
            padding: 32px 50px 35px;
        }
    }
    
    .modal-sec #send .modal-content .modal-body .inner {
        width: 100%;
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text ul.nav {
        display: flex;
        justify-content: space-between;
        border: none;
        position: relative;
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text ul.nav::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 3px;
        background: #000C33;
        opacity: 0.1;
        border-radius: 5px;
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text ul.nav li.nav-item {
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text ul.nav li.nav-item a.nav-link {
        font-family: 'product_sansregular';
        font-size: 14px;
        line-height: 16px;
        color: #000C33;
        opacity: 0.5;
        border: none;
        padding: 0px 0px 5px;
        position: relative;
    }
    
    @media (min-width: 640px) {
        .modal-sec #send .modal-content .modal-body .inner .text ul.nav li.nav-item a.nav-link {
            font-size: 18px;
            line-height: 22px;
        }
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text ul.nav li.nav-item a.nav-link.active {
        opacity: 1;
        font-weight: bold;
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text ul.nav li.nav-item a.nav-link.active::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 3px;
        background: linear-gradient(254.09deg, #B04AFF 5.04%, #24A7FF 99.4%);
        border-radius: 5px;
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane {
        padding: 15px 0px 0px;
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .email-sec form {
        display: flex;
        flex-wrap: wrap;
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .email-sec form .email-opt {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0px 0px;
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .email-sec form .email-opt input.form-control {
        width: auto;
        height: auto;
        margin-right: 10px;
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .email-sec form .email-opt label {
        font-family: 'product_sansregular';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #000C33;
        opacity: 0.5;
        margin: 0px;
    }
    
    @med ia (min-width: 768px) {
        .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .email-sec form .email-opt label {
            font-size: 18px;
            line-height: 22px;
        }
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .email-sec form .form-group {
        width: 60%;
        margin: 0px;
        border: 1px solid rgba(129, 184, 245, 0.25);
        box-sizing: border-box;
        /* filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25)); */
        border-radius: 5px;
        padding: 10px 14px !important;
    }
    
    @media (min-width: 768px) {
        .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .email-sec form .form-group {
            width: 80%;
        }
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .email-sec form .form-group .amsify-suggestags-area {
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .email-sec form .form-group .amsify-suggestags-area .amsify-suggestags-input-area {
        padding: 0px !important;
        border: none;
        box-shadow: none;
        background: none;
        display: flex;
        flex-wrap: wrap;
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .email-sec form .form-group .amsify-suggestags-area .amsify-suggestags-input-area .amsify-select-tag {
        background: rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-size: 18px;
        line-height: 22px;
        color: #000C33;
        padding: 9px 14px;
        display: inline-flex;
        align-items: center;
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .email-sec form .form-group .amsify-suggestags-area .amsify-suggestags-input-area .amsify-select-tag .amsify-remove-tag {
        font-size: 0px;
        line-height: 22px;
        color: #000C33;
        background: url(../images/close-icon.png) no-repeat;
        background-size: 10px;
        background-position: center;
        width: 18px;
        height: 18px;
        display: inline-block;
        margin-left: 8px;
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .email-sec form .form-group .amsify-suggestags-area .amsify-suggestags-input-area input {
        border: 0;
        box-shadow: none;
        background: none;
        max-width: 100%;
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .email-sec form .send-btn {
        width: 40%;
        padding-left: 15px;
    }
    
    @media (min-width: 768px) {
        .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .email-sec form .send-btn {
            width: 20%;
        }
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .email-sec form .send-btn button {
        font-size: 18px;
        line-height: 21px;
        display: flex;
        text-align: center;
        padding: 19px 0px;
        font-family: 'product_sansregular';
        justify-content: center;
        background: #000C33;
        border-radius: 5px;
        border: 1px solid #000C33;
        color: #fff;
        width: 100%;
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .email-sec form .send-btn button span {
        margin-left: 8px;
    }
    
    @media (max-width: 362px) {
        .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .email-sec form .send-btn button {
            font-size: 16px;
            line-height: 20px;
        }
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .email-sec form .send-btn button:hover {
        color: #000C33;
        border: 1px solid #000C33;
        background: transparent;
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .trial {
        margin-top: 20px;
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .trial .box {
        border: 1px solid rgba(0, 12, 51, 0.25);
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px 15px;
    }
    
    @media (min-width: 768px) {
        .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .trial .box {
            padding: 25px 30px;
        }
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .trial .box .brand {
        margin-bottom: 5px;
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .trial .box .brand img {
        max-width: 100%;
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .trial .box h2 {
        font-family: 'product_sansregular';
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        color: #000C33;
        margin-bottom: 6px;
    }
    
    @media (min-width: 768px) {
        .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .trial .box h2 {
            font-size: 30px;
            line-height: 36px;
        }
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .trial .box p {
        font-family: 'product_sansregular';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #000C33;
        opacity: 0.5;
        margin: 0px;
    }
    
    @media (min-width: 768px) {
        .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .trial .box p {
            font-size: 18px;
            line-height: 22px;
        }
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .trial .box a {
        background: #24A7FF;
        border-radius: 5px;
        font-family: 'product_sansregular';
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        width: 100%;
        height: 60px;
        text-decoration: none;
        margin-top: 20px;
    }
    
    @media (min-width: 768px) {
        .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .trial .box a {
            width: 190px;
        }
    }
    
    .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .trial .box a:hover {
        background: rgba(36, 167, 255, 0.8);
    }
    
    .modal-backdrop.show {
        opacity: .8;
    }
    
    @media screen and (max-width:767px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li:nth-of-type(6) .tooltip-box::after,
        .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li:nth-of-type(7) .tooltip-box::after,
        .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li:nth-of-type(8) .tooltip-box::after,
        .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li:last-child .tooltip-box::after {
            right: 6%;
            left: auto;
        }
        .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li:nth-of-type(6) .tooltip-box,
        .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li:nth-of-type(7) .tooltip-box,
        .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li:nth-of-type(8) .tooltip-box,
        .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li:last-child .tooltip-box {
            right: 0px;
            left: auto;
        }
        .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul {
            justify-content: space-between;
        }
    }
    
    @keyframes typing {
        from {
            width: 0;
        }
    }
    
    @keyframes blink-caret {
        50% {
            border-color: transparent;
        }
    }
    
    .tagsinput {
        padding: 6px 5px 6px 5px !important;
    }
    
    div.tagsinput.error {
        border: 1px solid #f00;
    }
    
    @media (max-width: 767px) {
        .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .email-sec form {
            flex-direction: column;
        }
        .tagsinput {
            box-shadow: none;
        }
        .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .email-sec form .form-group {
            width: 100%;
        }
        .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .email-sec form .send-btn {
            padding: 0px;
            margin-top: 10px;
            width: 100%;
        }
        .modal-sec #send .modal-content .modal-body .inner .text .tab-content .tab-pane .email-sec form .send-btn button {
            padding: 14px 0px;
        }
    }
    
    .custom {
        width: 100% !important;
        -webkit-appearance: none !important;
        height: 6px !important;
        border-radius: 8px !important;
        background: -webkit-gradient(linear, center top, center bottom, from(#CFDCDD), to(#DFE9EA), color-stop(50%, #DFE9EA));
        -webkit-transition: background 450ms !important;
        transition: background 450ms !important;
    }
    /* Change the Slider Button Color Here */
    
    .custom::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        background: #24A7FF !important;
        height: 15px !important;
        width: 15px !important;
        border-radius: 15px !important;
        border: none !important;
    }
    
    .custom::-webkit-slider-thumb:before {
        background-color: #24A7FF !important;
        border: none !important;
    }
    
    .hero-text .hero-box .tab-content .tab-pane .password-box .form-comp {
        display: flex;
        margin-top: 15px;
    }
    
    @media (max-width: 767px) {
        .hero-text .hero-box .tab-content .tab-pane .password-box .form-comp {
            margin-top: 7px;
        }
    }
    /* copied section Here */
    
    section.hero.copied {
        margin-bottom: 0px;
        /* background: url(/wp-content/themes/passwordhero/assets/images/header-bg-copied.png) no-repeat;
        background-attachment: fixed;
        background-size: cover !important; */
    }
    
    section.hero.copied .hero-text {
        bottom: auto;
        padding: 0px;
    }
    
    section.hero.copied .hero-text .copied-box {
        width: 500px;
        padding: 15px 25px;
        background: #FFFFFF;
        border-radius: 5px;
        margin: 20px auto 0;
        box-shadow: #00000045 4px 4px 8px;
    }
    
    section.hero.copied .hero-text .copied-box .copied-head h2 {
        font-family: 'product_sansregular';
        font-weight: bold;
        font-size: 28px;
        line-height: 32px;
        text-align: center;
        color: #24A7FF;
        margin-bottom: 0px;
    }
    
    section.hero.copied .hero-text .copied-box .copied-head h2 img {
        margin-top: -2px;
    }
    
    .security-statistic {
        background: linear-gradient(254.09deg, #B04AFF 5.04%, #24A7FF 99.4%);
        border-radius: 10px;
        padding: 15px 20px;
        margin-top: 15px;
        text-align: center;
    }
    
    .security-statistic h3 {
        font-family: 'product_sansregular';
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-decoration-line: underline;
        color: #FFFFFF;
        letter-spacing: 1px;
    }
    
    .security-statistic p {
        font-family: 'product_sansregular';
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
    }
    
    .one-pass-cta {
        padding: 0px 50px;
        margin-top: 15px;
    }
    
    .one-pass-cta h4 {
        display: flex;
        align-items: center;
        margin: 0px;
    }
    
    .one-pass-cta h4 span {
        font-family: 'product_sansregular';
        font-size: 15px;
        line-height: 18px;
        color: #000000;
        margin-left: 10px;
    }
    
    .one-pass-cta h4 span a {
        color: #0066ff;
    }
    
    .copied-box .email-sec {
        margin-top: 15px;
    }
    
    .copied-box .email-sec p {
        font-weight: bold;
        text-align: left;
        color: #000C33;
        margin-bottom: 8px;
    }
    
    .copied-box .email-sec form {
        display: flex;
        flex-wrap: wrap;
    }
    
    .copied-box .email-sec form .email-opt {
        display: flex;
        justify-content: center;
        margin: 10px 0px 0px;
    }
    
    .copied-box .email-sec form .email-opt input.form-control {
        width: 22px;
        height: 22px;
        margin-right: 10px;
        display: none;
    }
    
    .copied-box .email-sec form .email-opt label {
        font-family: 'product_sansregular';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #000C33;
        margin: 0px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        padding-left: 25px;
    }
    
    .copied-box .email-sec form .email-opt input.form-control+label:before {
        content: '';
        background: #fff;
        border-radius: 5px;
        border: 2px solid #ddd;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        padding: 2px;
        margin-right: 10px;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .copied-box .email-sec form .email-opt input.form-control:checked+label:before {
        background: #24A7FF;
        border: 2px solid #24A7FF;
    }
    
    .copied-box .email-sec form .email-opt input.form-control:checked+label:after {
        content: "";
        padding: 0px;
        position: absolute;
        width: 6px;
        height: 12px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate( 45deg);
        top: 3px;
        left: 7px;
    }
    
    @media (max-width: 767px) {
        .copied-box .email-sec form .email-opt label {
            line-height: 17px;
        }
    }
    
    .copied-box .email-sec form .email-opt label a {
        color: #0066ff;
    }
    
    .copied-box .email-sec form .form-group {
        width: 60%;
        margin: 0px;
    }
    
    @media (min-width: 768px) {
        .copied-box .email-sec form .form-group {
            width: 75%;
        }
    }
    
    .copied-box .email-sec form .form-group input {
        box-shadow: none;
        background: none;
        max-width: 100%;
        border: 1px solid #000C33;
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
        border-radius: 5px;
        height: 100%;
        font-size: 14px;
        line-height: 17px;
    }
    
    .copied-box .email-sec form .send-btn {
        width: 40%;
        padding-left: 15px;
    }
    
    @media (min-width: 768px) {
        .copied-box .email-sec form .send-btn {
            width: 25%;
        }
    }
    
    .copied-box .email-sec form .send-btn button {
        font-size: 18px;
        line-height: 21px;
        display: flex;
        text-align: center;
        padding: 13px 10px;
        font-family: 'product_sansregular';
        justify-content: center;
        background: #000C33;
        border-radius: 5px;
        border: 1px solid #000C33;
        color: #fff;
        width: 100%;
    }
    
    .copied-box .email-sec form .send-btn button.on-sending {
        font-size: 16px;
        padding: 13px 5px;
    }
    
    .copied-box .email-sec form .send-btn button span {
        margin-left: 8px;
    }
    
    @media (max-width: 362px) {
        .copied-box .email-sec form .send-btn button {
            font-size: 16px;
            line-height: 20px;
        }
    }
    
    .copied-box .email-sec form .send-btn button:hover {
        color: #000C33;
        border: 1px solid #000C33;
        background: transparent;
    }
    
    @media (max-width: 767px) {
        section.hero.copied .hero-text {
            margin: 0px;
        }
        section.hero.copied .hero-text .head h1,
        section.hero.copied .hero-text .head p {
            display: none;
        }
        .security-statistic {
            padding: 17px 18px 20px;
            margin-top: 20px;
        }
        .security-statistic p {
            font-size: 14px;
            line-height: 17px;
        }
        .security-statistic h3 {
            font-size: 14px;
            line-height: 17px;
        }
        .one-pass-cta {
            padding: 0px;
        }
        section.hero.copied {
            padding: 80px 0px 120px;
        }
        section.hero.copied {
            /* background: url(/wp-content/themes/passwordhero/assets/images/header-bg-copied-mob.png) no-repeat;
            background-attachment: fixed;
            background-size: cover; */
            padding: 0px;
        }
        header.navbar {
            padding: 10px 15px 0px;
        }
        .one-pass-cta h4 span {
            font-size: 14px;
            line-height: 17px;
        }
        .one-pass-cta {
            margin-top: 20px;
        }
        .copied-box .email-sec {
            margin-top: 20px;
        }
        section.hero.copied .hero-text .copied-box .copied-head h2 {
            font-size: 18px;
            line-height: 21px;
        }
        .copied-box .email-sec form .send-btn {
            width: 35%;
            padding-left: 10px;
        }
        .copied-box .email-sec form .form-group {
            width: 65%;
        }
        section.hero.copied .hero-text .copied-box .copied-head h2 img {
            max-width: 20px;
        }
        .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform p {
            font-size: 14px;
            line-height: 20px;
        }
        .hero-text .hero-box .tab-content .tab-pane .password-box .generated-password .generated-password-box .generated-wrapper .week-pass p {
            font-size: 14px;
            line-height: 20px;
        }
        .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li a {
            font-size: 18px;
            line-height: 22px;
        }
        .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li a.in {
            width: 20px;
            height: 20px;
            font-size: 16px;
            line-height: 20px;
        }
        .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li {
            display: flex;
        }
        .hero-text .hero-box .tab-content .tab-pane .password-box .platform-comp .Platform ul li a.tiktok {
            height: 18px;
            width: 18px;
        }
        .hero-text h1 {
            font-size: 38px;
            line-height: 1;
        }
        header.navbar .navbar-brand img {
            width: 218px;
            height: auto;
        }
    }
    
    @media (max-width: 530px) {
        section.hero.copied .hero-text .copied-box {
            margin: 0px;
            width: 100%;
            padding: 25px 15px;
        }
        .hero-text h1 {
            font-size: 24px;
            line-height: 30px;
        }
    }
    
    .tagsinput input {
        border: 0px !important;
        margin: 0px !important;
        box-shadow: none;
        filter: none !important;
        padding: 9px 8px !important;
    }
    
    .copied-box .email-sec .alert-success,
    .copied-box .email-sec .alert-danger {
        margin: 10px 0px 0px;
        padding: 8px 12px;
        font-size: 16px;
        line-height: 22px;
    }

    header.navbar ul.navbar-nav li.nav-item {
        position: relative;
    }
    header.navbar ul.navbar-nav li.nav-item ul.sub-menu {
        list-style: none;
        margin: 0px;
        background: #fff;
        border-radius: 6px;
        padding: 10px;
        position: absolute;
        width: 200px;
        right: 0px;
        display: none;
    }
    header.navbar ul.navbar-nav li.nav-item:hover ul.sub-menu{
        display: block;
    }
    header.navbar ul.navbar-nav li.nav-item ul.sub-menu li{
        margin: 0px;
    }

    header.navbar ul.navbar-nav li.nav-item ul.sub-menu li a{
        color: #000C33;
     }
    
     header.navbar ul.navbar-nav li.nav-item a.nav-item{
         cursor: pointer;
     }

     header.navbar .container {
        justify-content: space-between;
    }

    @media (max-width: 991px) {
        header.navbar ul.navbar-nav li.nav-item ul.sub-menu{
            position: initial;
            width: 100%;
            display: block;
        }
    }