#createrule .form-field input {
    width: 25em;
}

.custom-rule-error{
    color: red;
}

a.delete-title {
    border: 1px solid red;
    padding: 2px 15px;
    color: #fff;
    background-color: red;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}